/* 1rem = 10px로 설정 */
html { 
    font-size: 62.5%;
    background-color: #68441e1c;
}

.QnA_area {
    display: flex;
    margin: auto;
    width: 40%;
    min-width: 80rem;
    height: 60rem;
    background-color: #ffffff;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem 4rem 4rem 4rem;
    font-size: 2rem;
    color: #3a2611;
}

.QnA_list_label {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 5rem;
    width: 20rem;
}

.QnA_list_area {
    width: 21rem;
    height: 61rem;
}

.QnA_list_btn_area {
    width: 20rem;
    height: 57rem;
    overflow: scroll;
    padding-right: 1rem;
    border-right: 1px solid #3a2611;
}

.QnA_title_btn {
    outline: none;
    border: 1px solid #3a2611;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0.5rem
}

.QnA_title_btn:hover {
    background-color: #3a261128;
}

.QnA_edit_area {
    margin-left: 3rem;
    width: 70%;
}

.QnA_edit_label {
    font-weight: bold;
    margin-bottom: 10rem;
}

.select_text_div {
    display: flex;
    margin-bottom: 10rem;
}

.QnA_edit_div {
    display: flex;
}

.QnA_select_textBox {
    outline: none;
    border: none;
    border-bottom: 1px solid #3a2611;
    width: 37rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
}

.QnA_edit_textBox {
    outline: none;
    border: none;
    border-bottom: 1px solid #3a2611;
    width: 37rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
}

.QnA_add_div {
    display: flex;
    margin-bottom: 10rem;
}

.QnA_edit_btn {
    outline: none;
    border: 1px solid #3a2611;
    background-color: transparent;
    font-size: 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    color: #3a2611;
    width: 6rem;
    height: 3.5rem;
    cursor: pointer;
}

.QnA_add_btn, .writing_btn {
    outline: none;
    border: 1px solid #3a2611;
    background-color: transparent;
    font-size: 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    color: #3a2611;
    width: 13rem;
    height: 3.5rem;
    cursor: pointer;
}

.QnA_edit_btn:hover, .QnA_add_btn:hover,
.writing_btn:hover {
    background-color: #3a26112c;
}