@charset "UTF-8";
/* 1rem = 10px로 설정 */
html { 
    font-size: 62.5%;
    background-color: #68441e1c;
}

.inquiry_user_list_area {
    margin: auto;
    width: 50%;
    background-color: #fff;
    margin-top: 15rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    color: #3d2812;
    border: #68441e;
    border-radius: 2rem;
    padding: 2rem 4rem 2rem 4rem;
    min-width: 100rem;
}

.inquiry_user_list_label {
    font-weight: bold;
    margin-bottom: 4rem;
}

.inquiry_user_list_table {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.num_th, .title_th, .date_th {
    border-bottom: 2px solid #3d2812;
    padding-bottom: 0.5rem;
}

.num_td, .title_td, .date_td {
    border-bottom: 1px solid #3d28126c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.num_th, .num_td {
    width: 10%;
}

.title_th, .title_td {
    text-align: left;
    padding-left: 2rem;
    width: 70%;
}

.date_th, .date_td {
    width: 20%;
}

.title_link {
    color: #3d2812;
    text-decoration: none;
}